.Deck {
   text-align: center;
 }
 
 .Deck-button {
   padding: 15px;
   background-color: black;
   color: white;
   border-radius: 8px;
   border: none;
   margin: 0 10px;
 }
 
 .Deck-button:hover {
   cursor: pointer;
   background-color: #444;
 }
 
 .Deck-button:active,
 .Deck-button:focus {
   outline: none;
 }
 
 .Deck-cardarea {
   margin-top: 80px;
 }